.sidebar {
    .widget {
        margin-bottom: 2.5em;
        &.redes-sociales {
            overflow: hidden;
            a {
                width: 33.3333%;
                padding: 1.25em;
                text-align: center;
                float: left;
                background: #000;
                color: #fff;
                display: inline-block;
                &:hover {
                    text-decoration: none;
                }
                &.youtube {
                    background: #cc181e;
                }
                &.twitter {
                    background: #00abf0;
                }
                &.facebook {
                    background: #3b5998;
                }
                .icono {
                    width: 100%;
                    font-size: 1.875em;
                    // margin-bottom: 0.5em;
                }
            }
        }
        .contenedor-ad {
            text-align: center;
            a {
                display: inline-block;
            }
        }
    }
}